vendor
conf/settings.ini
conf/lasttube.db.prod
conf/lasttube.db.dev
conf/lasttube.db
.buildpath
.project
.settings/
google966f8a1df1fe6267.html
tmp/

\.idea/dictionaries/ravermeister\.xml

\.idea/lastfmtube\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
