<IfModule mod_headers>
    Header set X-Frame-Options: "ALLOW-FROM https://www.rimkus.it/www_rimkus/index.php?action=act_music"
    Header always set Content-Security-Policy "frame-ancestors 'self' localhost ;"    
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    <!--
    RewriteCond %{QUERY_STRING} .+
    RewriteRule ^(.*)$ /$1? [R=301,L]
    -->

    <!-- page navigation for better url for better crawling results -->
    RewriteRule ^video(.*) /index.php?nav=video&urldata=$1
    RewriteRule ^topsongs(.*) /index.php?nav=topsongs&urldata=$1
    RewriteRule ^users(.*) /index.php?nav=users&urldata=$1
    RewriteRule ^lastfm(.*) /index.php?nav=lastfm&urldata=$1
    RewriteRule ^personal(.*) /index.php?nav=personal&urldata=$1
</IfModule>

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    SetEnvIfNoCase Request_URI \
    \.(?:gif|jpe?g|png)$ no-gzip dont-vary
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType image/jpg "access 2 month"
    ExpiresByType image/gif "access 2 month"
    ExpiresByType image/jpeg "access 2 month"
    ExpiresByType image/png "access 2 month"
    ExpiresByType text/css "access 2 month"
    ExpiresByType application/x-javascript "access plus 2 month"
    ExpiresByType text/javascript "access plus 2 month"
    ExpiresByType application/javascript "access plus 2 month"
    ExpiresByType image/x-icon "access plus 12 month"
    ExpiresByType image/icon "access plus 12 month"
    ExpiresByType application/x-ico "access plus 12 month"
    ExpiresByType application/ico "access plus 12 month"
</IfModule>
