.tip {
	width: 0px;
	height: 0px;
	position: absolute;
	background: transparent;
	border: 10px solid #ccc;
}

.tip-up {
	top: -25px; /* Same as body margin top + border */
	left: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.tip-down {
	bottom: -25px;
	left: 10px;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.tip-left {
	top: 10px;
	left: -25px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.tip-right {
	top: 10px;
	right: -25px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.dialogbox .body {
	position: relative;
	max-width: 100%;
	height: auto;
	margin: 20px 10px;
	padding: 5px;
	background-color: #DADADA;
	border-radius: 3px;
	border: 5px solid #ccc;
}

.body .message {
	min-height: 30px;
	border-radius: 3px;
	font-family: Arial;
	font-size: 14px;
	line-height: 1.5;
	color: #797979;
}

.comments-container .comments-header {
	font-size: large; 
	font-weight: bold;
}
.comments-container .btn-loadmore {
	width: 40%;
}
.comments-container .btn-jump {
	width: 40%;
}

.dialogbox-user {
	float: left;
}

.dialogbox-user img {
	margin-right: 5px;
}

.dialogbox-footer {
	display: flow-root;
	border-top: 1px solid gray;
	padding-top: 5px;
}
.dialogbox-footer .footer-content {
	float: inline-start;
	display: inline;
	font-size: smaller;
}
.dialogbox-footer .dialogbox-likes {
	float: inline-end;
	display: inline;
}
.dialogbox-footer .dialogbox-likes span{	
	white-space: nowrap;
}