/* 
encoding: UTF-8
*/

body {
	margin: 10px;
	background: #1e2426;
	color: #C2B280;
}
input,
select {
	color: black;
}
a {
	color: #a7a49a
}

/** table config **/
table thead{
        font-weight: bold;
}

.pure-table,
.pure-table th,
.pure-table td {
        border-color: #a7a395;
}
/**** end table config ***/

.dragelem{
	color: black;
	background-color: #C2B280;
}


#hotkeys_view {
	text-align:left;
	border:1px solid #a7a395;
	padding:10px;
	margin-top:10px;
	display:none;
}

.playercontrol {
	border:1px solid #a7a395;
	padding: 15px;
}
.lastfmuser {
	float:left;
}
.pages {
	display:inline-block;
	position:relative;
	left: 15px; 
}

.playlist-menu {
        margin-top: 10px;
        margin-bottom: 10px;
}

/** playlists **/
.playlist-container {
        width: 100%;
}
.playlist-container .playlist-main {
        float:left;
        width: 100%;
}
.playlist-container .playlist-sidebar {
        float: right;
        width: 0%;
}
.playlist-container table {
        width: 100%;
}

.playlist-container table tbody tr:hover{
	cursor: pointer;	
	background-color: #C2B280;
	color: black;
}
.playlist-container table thead tr {
	background-color: #a7a395;
}
.userlist tbody td:nth-child(3),
.playlist tbody td:nth-child(4),
.charts tbody td:nth-child(3)
 {
        word-break:break-all;
}
/** end playlists **/


/** hide topusers, charts, userlist at beginning **/
#charts_list,
#user_list,
#topuser_list {
	display: none;	
}
/**  end hide topusers, charts, userlist at beginning **/


.footer {	
	text-align:center;
	display: table;
	margin: 0 auto;
}
.footer span {
	display:table-cell;
	text-align:center;
	vertical-align: middle;
}
.footer img {
        vertical-align: middle;
}
