<!--//
encoding: UTF-8
//-->
<!DOCTYPE html>
<html lang="{{LANG}}">
<head>
    <title>{{TITLE}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="themes/dimension/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="themes/dimension/assets/css/noscript.css"/>
    </noscript>

    <!-- data-main attribute tells require.js to load
     scripts/main.js after require.js loads. -->
    <script data-main="js/main" src="js/lib/requirejs/require.js"></script>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>{{PAGE_HEADER}}</h1>
                <p>{{PAGE_WELCOME}}</p>
            </div>
        </div>
        <nav>
            <ul>
                <li v-for="MENU in MENUS" id="site-menu"><a v-bind:href="MENU.URL">{{MENU.NAME}}</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">


        <!-- Player -->
        <article id="page-ytplayer">
            <h2 class="major">Youtube Player</h2>
            <span class="image main"><img src="images/pic01.jpg" alt=""/></span>

            <!-- youtube embed: html5 method -->
            <div id="player"></div>
        </article>

        <!-- Playlist -->
        <article id="page-playlist">
            <h2 class="major"><a v-bind:href="LASTFM_USER_URL" target="_blank">{{LASTFM_USER_NAME}}</a>'s Playlist</a>
            </h2>
            <span class="image main"><img src="images/pic01.jpg" alt=""/></span>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>{{TRACK_NR}}</th>
                        <th>{{TRACK_ARTIST}}</th>
                        <th>{{TRACK_TITLE}}</th>
                        <th>{{TRACK_LASTPLAY}}</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="TRACK in TRACKS">
                        <td onclick="" style="cursor: pointer">{{TRACK.NR}}</td>
                        <td onclick="" style="cursor: pointer">{{TRACK.ARTIST}}</td>
                        <td onclick="" style="cursor: pointer">{{TRACK.TITLE}}</td>
                        <td onclick="" style="cursor: pointer">{{TRACK.LASTPLAY}}</td>
                        <td style="white-space: nowrap">
                            <a href="#" onclick="" class="icon fa-plus-square" v-bind:title="ADD_TO_PLAYLIST_TITLE"><span class="label">Add</span></a>
                            &nbsp;
                            <a href="#" onclick="" class="icon fa-search"><span class="label">Search</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>


    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">
            <span style="vertical-align: top">
                &copy;2018 <a href="//www.rimkus.it" target="_blank">Jonny Rimkus</a>
                &lt;<a href="mailto:jonny@rimkus.it">jonny@rimkus.it</a>&gt;
            </span>
            &nbsp;&nbsp;
            <a href="http://www.wtfpl.net/" target="_blank" style="border: 0px; text-decoration: none;">
                <img
                        src="http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-badge-4.png"
                        width="80" height="15" alt="WTFPL"/>
            </a>


        </p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>
</body>
</html>
