<!--//
encoding: UTF-8
//-->
<!DOCTYPE html>
<html lang="{{LANG}}">
<head>
    <title>{{TITLE}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!-- data-main attribute tells require.js to load
    scripts/main.js after require.js loads. -->
    <script data-main="js/main" src="js/lib/requirejs/require.js"></script>


    <link rel="stylesheet" href="themes/dimension/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="themes/dimension/assets/css/noscript.css"/>
    </noscript>

</head>
<body class="is-preload">


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>{{PAGE_HEADER}}</h1>
                <p>{{PAGE_WELCOME}}</p>
            </div>
        </div>
        <nav>
            <ul>
                <li v-for="MENU in MENUS" id="site-menu"><a v-bind:href="MENU.URL">{{MENU.NAME}}</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Player -->
        <article id="page-ytplayer">
            <!-- youtube embed: html5 method -->
            <div id="player"></div>
        </article>

        <!-- Playlist -->
        <article id="page-playlist">
            <h2 class="major"><a v-bind:href="LASTFM_USER_URL" target="_blank">{{LASTFM_USER_NAME}}</a>'s list</a></h2>

            <section class="playlist-nav">
                <form v-on:submit.prevent="loadPage($('#playlist_lastfmuser').val(), $('#playlist_page').val())">
                    <div class="fields">

                        <div class="field third">
                            <label for="playlist_lastfmuser">
                                <a href="//last.fm" target="_blank">Last.fm</a> {{LASTFM_USER_NAME_LABEL}}
                            </label>
                            <input type="text" name="playlist_page" id="playlist_lastfmuser"
                                   v-bind:value="LASTFM_USER_NAME" onfocus="javascript:this.select();"/>
                        </div>
                        <div class="field third">
                            <label for="playlist_page">
                                {{CUR_PAGE_LABEL}} {{CUR_PAGE}} {{PAGES_OF_LABEL}} {{MAX_PAGES}}
                            </label>
                            <input type="text" name="playlist_page" id="playlist_page" v-bind:value="CUR_PAGE"
                                   onfocus="javascript:this.select();"/>
                        </div>
                        <div class="field third" align="center" style="vertical-align: center">
                            <label>&nbsp;</label>
                            <a
                               v-on:click="loadPrevPage($('#playlist_lastfmuser').val(), $('#playlist_page').val(), MAX_PAGES)"
                               class="icon fa-step-backward"
                               title="Previous Page"
                               style="cursor: pointer; font-size: 24pt; float: left;">&nbsp;</a>

                            <input type="submit" name="playlist_load" id="playlist_load" v-bind:value="PLAYLIST_LOAD" />

                            <a
                                v-on:click="loadNextPage($('#playlist_lastfmuser').val(), $('#playlist_page').val(), MAX_PAGES)"
                               class="icon fa-step-forward"
                               title="Next Page"
                               style="cursor: pointer; font-size: 24pt; float: right;">&nbsp;</a>
                        </div>
                    </div>
                </form>
            </section>

            <section>
                <div class="table-wrapper" id="playlist-content">
                    <table >
                        <thead>
                            <tr>
                                <th>{{TRACK_NR}}</th>
                                <th>{{TRACK_ARTIST}}</th>
                                <th>{{TRACK_TITLE}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <template v-for="TRACK in TRACKS">
                            <tr v-on:mouseover="showPlay(TRACK, true);" v-on:mouseout="showPlay(TRACK, false);">
                                <td class="TRACK_NR" v-on:click="togglePlay(TRACK);" v-html="TRACK.NR">
                                    {{TRACK.NR}}
                                </td>
                                <td class="TRACK_ARTIST"
                                    v-on:click="togglePlayControl(TRACK);"
                                    style="cursor: pointer">{{TRACK.ARTIST}}
                                </td>
                                <td class="TRACK_TITLE"
                                    v-on:click="togglePlayControl(TRACK);"
                                    style="cursor: pointer">{{TRACK.TITLE}}
                                </td>
                            </tr>

                            <transition name="fade" is="transition-group">
                                <tr key="true" v-if="TRACK.PLAY_CONTROL" ref="TRACK_CONTROL_ROW">
                                    <td colspan="3" style="vertical-align: middle; border: 0px">
                                        <ul class="icons" style="display: inline">
                                            <li>
                                                <a class="icon fa-play" style="cursor: pointer" title="Play" v-on:click="playTrack(TRACK);">
                                                    <span class="label">Play</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="icon fa-list-ul" style="cursor: pointer" title="Queue Video">
                                                    <span class="label">Queue Video</span>
                                                </a>
                                            </li>

                                            <li><a class="icon fa-heart" style="cursor: pointer" title="Rate this Song"><span
                                                    class="label">Rate this Song</span></a></li>
                                            <li><a class="icon fa-plus" style="cursor: pointer" title="add to Playlist"><span
                                                    class="label">Add to Playlist</span></a></li>
                                            <li><a class="icon fa-search" style="cursor: pointer" title="search alternative Video"><span
                                                    class="label">search alternative Video</span></a></li>
                                        </ul>
                                        <span style="float: right">{{TRACK.LASTPLAY}}</span>
                                    </td>
                                </tr>
                            </transition>
                        </template>
                        </tbody>
                    </table>
                </div>
            </section>
        </article>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">
            <span style="vertical-align: top">
                &copy;2018 <a href="//www.rimkus.it" target="_blank">Jonny Rimkus</a>
                &lt;<a href="mailto:jonny@rimkus.it">jonny@rimkus.it</a>&gt;
            </span>
            &nbsp;&nbsp;
            <a href="http://www.wtfpl.net/" target="_blank" style="border: 0px; text-decoration: none;">
                <img
                        src="http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-badge-4.png"
                        width="80" height="15" alt="WTFPL"/>
            </a>


        </p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>
</body>
</html>
